<launch>
    <arg name="demo" default="joint_space_velocity_control"/>
    <arg name="robot_name" default="franka"/>
    <arg name="user_number" default="1"/>

    <group ns="$(arg robot_name)">
        <node type="$(arg demo)" name="$(arg demo)" pkg="learning_safety_margin" output="screen" args="$(arg user_number)"/>
    </group>

</launch>