<launch>
    <arg name="demo" default="idle_control"/>
    <arg name="robot_name" default="franka"/>
    <arg name="args_for_control" default="0 2"/>

    <group ns="$(arg robot_name)">
        <node type="$(arg demo)" name="$(arg demo)" pkg="learning_safety_margin" output="screen" args="$(arg args_for_control)"/>
    </group>

</launch>